@model List<RegistroModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Lista Peliculas
    </div>
    <div class="card-body">
       
        <a asp-action="Guardar" asp-controller="Mantenedor" class="btn btn-success " >
            <i class="bi bi-plus-square"></i> Crear Nuevo
        </a>       
        <hr />
        <table class="table table-bordered"
            >
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Genero</th>
                    <th>Año</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Genero</td>
                        <td>@item.Año</td>
                        <td>
                            <a asp-action="Editar" asp-controller="Mantenedor" class="btn btn-primary btn-sm" asp-route-idRegistro ="@item.idRegistro">
                                <i class="bi bi-pencil-square"></i> Editar
                            </a>
                            <a asp-action="Eliminar" asp-controller="Mantenedor" class="btn btn-danger btn-sm" asp-route-idRegistro="@item.idRegistro">
                                <i class="bi bi-trash3-fill"></i>  Eliminar
                            </a>

                        </td>
                      
                </tr>
                }
            </tbody>
        </table>



    </div>
</div>

